.addBtn{
  
  border-radius: 6px;
background: linear-gradient(90deg, #7046F8 0%, #422992 100%);
box-shadow: 2px 2px 7.2px 0px #422992;
padding: 14px 34px;
color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}