.filterListItem{
  padding: 7px 8px;
  display: flex;
  gap: 6px;
  align-items: center;


  border-radius: 9px;
border: 1px solid rgba(129, 129, 129, 0.75);
background: #1D1D23;

p{
  color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
}