.TaskItem{
  position: relative;
  width: 100%;
  
  padding: 35px 32px;
  padding-bottom: 0px;
  border-radius: 8px;
border: 1px solid rgba(117, 117, 117, 0.12);
background: linear-gradient(90deg, rgba(147, 149, 220, 0.03) 0%, rgba(147, 149, 220, 0.03) 100%); 
}

.TaskWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TaskItemHeading{
  display: flex;
  align-items: center;
  margin-bottom: 17px;

  h2{
    color: #FFF;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }

  img{
    margin-left: 3px;
  }
}

.TaskItemDesc{
  max-width: 244px;
  position: relative;

  .TaskItemDescBG{
    width: 100%;
    height: 23px;
    // background: linear-gradient(90deg, #D9D9D9 0.18%, rgba(115, 115, 115, 0.14) 100.38%);
    position: absolute;
    // -webkit-mask-image: url('./imgs/mask.png'); /* Изображение маски */
    // mask-image: url('./imgs/mask.png'); /* Изображение маски */
  }

  .TaskItemDescText{
    color: rgba(255, 255, 255, 0.31);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
}

.BtnWrapperTask{
  width: 100%;
  display: flex;
  justify-content: right;
}


.TaskDown{
  margin-top: 12px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: start;


  .AtrributeWrapper{
    display: flex;
    align-items: center;
    gap: 10px;

    width: 120px;
    overflow: auto;

    .AttributeItem{
      border-radius: 3px;
border: 1px solid #FA2525;
background: #BD2525;
box-shadow: 0px 1px 3.4px 0px #FA2525;
padding: 1px 7px;

color: #FFF;
font-family: Montserrat;
font-size: 7px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
  }

.expDate{
  display: flex;
  align-items: center;
  span{
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
}
}

.FolderPopup{
  z-index: 5;
  min-width: 140px;
  position: absolute;
  padding: 3px 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 10px;

border-radius: 4px;
background: #0c0c0f;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);

}

.popupItem{
  cursor: pointer;
  color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.52px;
}