*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body{
  background-color: #121215;
}

ul{
  padding: 0;
  list-style-type: none;

  
}

button{
  background: none;
  border: none;
  cursor: pointer;
  color: #7F81BC;

}

